@import '~scss/variables';

.logo{
  position: absolute;
  width: 210px;

  a {
    display: inline-block;
    color: #fff;
    font: {
      size: 18px;
      weight: 700
    }
  }
  img {
    height: 26px;
  }
}

.base {
  height: 100vh;
}

.content {
  padding: 24px {
    top: 0;
  };
  @at-root .main {
    min-width: $content-width;
    margin: 26px 26px 0;
  }
}

.base {
  background-color: #f0f2f5;
  height: 100vh;
}

:global {
  .ant-layout-header {
    padding: 0 20px;
    .ant-menu {
      line-height: inherit;
    }
  }
}

.nav {
  display: flex;
  justify-content: center;
}

.logininfo {
  position: absolute;
  top: 0;
  right: 50px;
}

.breadcrumb {
  margin: 26px 26px 0;
}