:global {
    .more {
      font-size: 20px;
    }
  }

.menu {
  padding: 8px;
  min-width: 200px;
}

.menu-items {
  padding: 8px 22px;
  height: auto;
  font-weight: 400;
  color: #000;
}

.danger {
  color: red;
}

.text {
  margin-left: 10px;
}