.search {
  position: relative;
  height: 34px;
  border: 1px solid #d9d9d9;
  padding: 4px 11px;
  border-radius: 18px;
  background: #fff;
  display: flex;
  align-items: center;

  .search-icon {
    margin-right: 5px;
    color: rgba($color: #000000, $alpha: 0.65);
  }

  .options {
    width: 120px;
    background: #fff;
    position: absolute;
    top: 34px;
    left: 24px;
    z-index: 10;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);

    & > ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    & > ul > li {
      list-style: none;
      min-height: 32px;
      line-height: 22px;
      color: rgba($color: #000000, $alpha: .65);
      padding: 5px 12px;
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      text-align: center;

      &:hover{
        background: #d9d9d9;
      }
    }
  }

  .dropdown {
    width: 120px;
  }

  .close {
    position: absolute;
    top: 2px;
    right: 5px;
    display: inline-block;
    width: 48px;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
    background: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 26px;
    text-align: center;
  }
}


.input {
  display: inline-block;
  width: 500px;
  flex: 1;

  .tag-input {
    display: inline-block;
    border: 0;
    &:focus {
      border: none;
      box-shadow: none;
    }
  }
}

.tag {
  border-radius: 22px;
}
