@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  height: 100%;
  border-radius: $border-radius;
  background-color: $dark;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  transition: left $trans-speed ease-in-out;
  overflow-y: auto;
  z-index: 212;
}

.brand {
  width: 100%;
  height: 68px;
  background-color: $dark-color08;
}
.logo {
  width: 100%;
  height: 68px;
}
