html {
  overflow-y: visible;
  margin-right: calc(100% - 100vw);
  background-color: $body-bg-color;
  height: 100%;
}

body {
  font-family: $font-family;
  font-size: $body-size;
  color: $text-color;
  min-width: 960px;
  height: 100%;
  line-height: 1.67;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

button,
input {
  font-family: $font-family;
  font-size: $body-size;
}

a {
  color: $link-color;
  cursor: pointer;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
}

img {
  user-select: none;
}

div {
  box-sizing: border-box;
}

p {
  margin: 0;
}

pre {
  padding: 0;
  background-color: transparent;
  white-space: pre-wrap;
  font-size: $body-size;
  color: $text-color;
  font-family: $font-family;
  -webkit-font-smoothing: unset;
}

@each $header, $size in $headings {
  .#{$header} {
    display: block;
    line-height: map-get($heading-heights, $header);
    font-size: $size;
    font-weight: 600;
    font-style: normal;
    color: $head-color;
    text-shadow: $head-shadow;
  }
}

@each $text, $color in $text-colors {
  .text-#{$text} {
    color: $color;
  }
}

.custom-icon {
  svg {
    width: 16px;
    height: 16px;
    color: #324558;
    fill: #b6c2cd;
  }

  &:hover {
    svg {
      color: #00aa72;
      fill: #90e0c5;
    }
  }
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}