/* Variables */

// color
$white: #ffffff;
$black: #000000;
$light-color01: #f9fbfd;
$light-color02: #fafafa;
$light-color06: #d9d9d9;
$light-color08: #abb4be;
$dark-color01: #79879c;
$dark-color03: #5f708a;
$dark-color04: #4a5974;
$dark-color06: #36435c;
$dark-color07: #242e42;
$dark-color08: #021529;
$green-color03: #55bc8a;
$blue-color01: #1890ff;

// specific color
$light: $white;
$dark: #021529;

$lightest: $light-color01;
$text-color: $dark-color07;
$second-text-color: $dark-color01;
$third-text-color: $dark-color04;

$title-color: $dark-color06;
$second-title-color: $dark-color03;
$primary: $green-color03;
$layout-header-color: $white;
$head-color: $dark-color07;
$link-color: $blue-color01;
$btn-default-active-bg: $light-color08;

$text-colors: (
  primary: $text-color,
  secondary: $second-text-color,
  third: $third-text-color,
  light: $white,
);

// border
$border-radius: 4px;
$border-color: $light-color06;
$border-hover-color: $dark-color01;

// shadow
$head-shadow: 0 4px 8px rgba(36, 46, 66, 0.1);
$base-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
$btn-primary-shadow: 0 8px 16px 0 rgba(85, 188, 138, 0.36);

// animation
$trans-speed: 0.3s;

//size
$header-height: 68px;
$nav-width: 260px;
$content-width: 1164px;
$headings: (
  h1: 40px,
  h2: 32px,
  h3: 24px,
  h4: 20px,
  h5: 16px,
  h6: 14px,
);
$heading-heights: (
  h1: 56px,
  h2: 44px,
  h3: 32px,
  h4: 28px,
  h5: 20px,
  h6: 20px,
);

// background
$body-bg-color: $white;
$bg-color:  $white;
$th-bg-color: $white;
$bg-text: $light-color02;

// font
$font-family: 'PingFang SC', 'Lantinghei SC', 'Helvetica Neue', Helvetica, Arial,
  'Microsoft YaHei', 微软雅黑, STHeitiSC-Light, simsun, 宋体,
  'WenQuanYi Zen Hei', 'WenQuanYi Micro Hei', sans-serif;
$font-family-id: Roboto, $font-family;
$font-family-code: 'PT Mono', Monaco, Menlo, Consolas, 'Courier New', monospace;

$size-small: 12px;
$size-normal: 14px;
$size-medium: 16px; // 中号字体
$size-mid-large: 24px;
$body-size: $size-small;

$font-bold: 600;



